<body>
  <h1>Welcome to Dom Events</h1>

  <style type="text/css">
    .gist {
      width:600px !important;
    }
    .highlight {
      font-size: 18px !important;
    }
  </style>

  <script
    src="https://gist.github.com/selfup/42c2a312bf74451b10fffaea179b0ac8.js"
  >
  </script>
</body>
