<html>
  <head>
    <link href="css/custom.css" rel="stylesheet">
  </head>

    <body>
      <h1>Guess the secret number!</h1>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
        <p>
          <%= message %>
        </p>
     </body>
</html>
