<html>
  <head></head>
  <body>
    <h1>Guess the secret number!</h1>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%=
      guess = params["guess"].to_i
      too_high = number + 5
      too_low = number - 5
      if guess == number
        "You got it right!
        The SECRET NUMBER is: <strong>#{number}</strong>"
      elsif guess >= too_high
        "Way too high!"
      elsif guess <= too_low
        "Way too low!"
      elsif guess > number
        "Too high!"
      elsif guess < number
        "Too low!"
      else
        ""
      end
      %>
    </p>
  </body>
</html>
