<html>
  <head>
    <body style=<%=color_guess%>>
      <h1>Guess the secret number!</h1>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
        <p>
          <%= message %>
        </p>
     </body>
 </head>
</html>
