<html>
  <head></head>
  <body>
    <h1>In the form below, guess the secret number!</h1>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      The SECRET NUMBER is: <strong><%= number %></strong>
    </p>
  </body>
</html>
